<h1>Liste des élèves avec leurs notes et moyennes</h1>
<ul>
    {% for eleve in eleves %}
    <!-- <li>{{ eleve }}</li> -->
    <li>
        <strong>{{ eleve.nom }}</strong> - Niveau: {{ eleve.niveau }}
        <ul>
            {% for matiere_note in eleve.matieres_notes %}
            <li>{{ matiere_note.matiere }} - Moyenne: {{ matiere_note.note }}</li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>











<!-- <h1>Liste des élèves</h1>
<ul>
    {% for eleve in eleves %}
    <li>
        {{ eleve.nom }} - Niveau: {{ eleve.niveau.nom }} - Matières: 
        {% for matiere in eleve.matieres.all %}
            {{ matiere.nom }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </li>
    {% endfor %}
</ul> -->
