<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ajouter un Candidat</title>
</head>
<body>
    <h1>Ajouter un Candidat</h1>
    <form action="/api/candidates/add" method="post">
        <label for="name">Nom :</label><br>
        <input type="text" id="name" name="name" required><br><br>

        <label for="email">Email :</label><br>
        <input type="email" id="email" name="email" required><br><br>

        <label for="resume">Résumé :</label><br>
        <textarea id="resume" name="resume"></textarea><br><br>

        <label for="skills">Compétences :</label><br>
        <input type="text" id="skills" name="skills"><br><br>

        <button type="submit">Ajouter</button>
    </form>
	<button onclick="window.location.href='/api/candidates'">Retour à la liste</button>
</body>
</html>
