<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modifier un Candidat</title>
</head>
<body>
    <h1>Modifier un Candidat</h1>
    <form th:action="@{/api/candidates/update/{id}(id=${candidate.id})}" method="post">
        <label for="name">Nom :</label><br>
        <input type="text" id="name" name="name" th:value="${candidate.name}" required><br><br>

        <label for="email">Email :</label><br>
        <input type="email" id="email" name="email" th:value="${candidate.email}" required><br><br>

        <label for="resume">Résumé :</label><br>
        <textarea id="resume" name="resume" th:text="${candidate.resume}"></textarea><br><br>

        <label for="skills">Compétences :</label><br>
        <input type="text" id="skills" name="skills" th:value="${candidate.skills}"><br><br>

        <button type="submit">Mettre à jour</button>
    </form>
	<button onclick="window.location.href='/api/candidates'">Retour à la liste</button>
</body>
</html>
