<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Détail du Job</title>
</head>
<body>
    <h1>Détails du Job</h1>
    <p><strong>Title:</strong> <span th:text="${job.title}"></span></p>
    <p><strong>Description:</strong> <span th:text="${job.description}"></span></p>
    <p><strong>Company ID:</strong> <span th:text="${job.companyId}"></span></p>
    <p><strong>Location:</strong> <span th:text="${job.location}"></span></p>
    <p><strong>Status:</strong> <span th:text="${job.status}"></span></p>
    <button onclick="window.location.href='/api/jobs'">Retour à la liste</button>
</body>
</html>
